<h2>Form di inserimento</h2>

nome: <input type="text" #nome placeholder="nome">
<br>
cognome: <input type="text" #cognome placeholder="cognome">
<br>
indirizzo: <input type="text" #indirizzo placeholder="indirizzo">
<br>
telefono <input type="text" #telefono placeholder="telefono">
<br>
email: <input type="text" #email placeholder="email">
<br>
data prenotazione: <input type="text" #data placeholder="data prenotazione">
<br>
ora prenotazione: <input type="text" #ora placeholder="ora prenotazione">
<br>

